<div class="accountManage"  ng-controller="partToday">
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>编号</th>
					<th>订单来源</th>
					<th>单号</th>
					<th>总金额</th>
					<th>折扣</th>
					<th>实付</th>
					<th>支付方式</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="list in orderList">
					<td>{{list.id}}</td>
					<td>{{list.source | sourceFilt}}</td>
					<td ng-click="getAboutOrder(list)" class="aboutOrder" data-toggle="modal" data-target="#aboutOrder">{{list.orderNum}}</td>
					<td>{{list.totalAmount}}</td>
					<td>{{list.discount}}</td>
					<td>{{list.finalAmount}}</td>
					<td>{{list.payWay | pay}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="resetModal modal fade" id="aboutOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                 <h4 class="modal-title" id="myModalLabel">订单明细</h4>
	            </div>
	            <div class="modal-body orderDetail">
	              <div>
	              	<span>订单来源 : </span>
	              	{{todayPartDetail.source | sourceFilt}}
	              </div>
	              <div>
	              	<span>单号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </span>
	              	{{todayPartDetail.oderNum}}
	              </div>
	              <div>
	              	<span>支付方式 : </span>
	              	{{todayPartDetail.payWay | pay}}
	              </div>
	              <table class="table table-bordered">
	            	<thead>
	            		<th>序号</th>
	            		<th>菜品</th>
	            		<th>单价</th>
	            		<th>数量</th>
	            		<th>总额</th>
	            	</thead>
	            	<tbody>
	            		<tr ng-repeat="dishes in todayPartDetail.repastMenuList[0].repastDishes">
	            			<td>{{$index + 1}}</td>
	            			<td>{{dishes.name}}</td>
	            			<td>{{dishes.dishesPrice}}</td>
	            			<td>{{dishes.dishesNum}}</td>
	            			<td>{{dishes.totalAmount}}</td>
	            		</tr>
	            	</tbody>
	            </table>
	            <div>
	           	  <div>
	              	<span>总金额 : </span>
	              	{{todayPartDetail.totalAmount}}
	              </div>
	              <div>
	              	<span>折扣 &nbsp;&nbsp; : </span>
	              	{{todayPartDetail.discount}}
	              </div>
	              <div>
	              	<span>实付 &nbsp;&nbsp; : </span>
	              	{{todayPartDetail.finalAmount}}
	              </div>
	            </div>
	          </div>
	           <!--  <div class="modal-footer">
	                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
	            </div> -->
	        </div>
	    </div>
	</div>
	<!-- Modal end -->
	<div class="pagination-container">
		<div class="pagination"></div>
	</div>
</div>
