<div class="activity content" ng-controller="active">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>编号</th>
				<th>活动名称</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>活动详情</th>
				<th>活动菜品分类</th>
				<th>折扣(折)</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="(key, value) in activityData track by key" repeat>
				<td>
					<span>{{value.id}}</span>
				</td>

				<td>
					<form role="form" ng-show="changeActive">
						<div class="form-group">
							<input type="text" style="max-width: 10	0px;" class="form-control" ng-model="newActivity.name">
						</div>
					</form>
					<span ng-hide="changeActive">{{value.name}}</span>
				</td>
				
				<td>
					<form ng-show="changeActive">
						<div class="input-group input-append date form_datetime">
							<input type="text" class="form-control" readonly ng-model="newActivity.startTime">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-th"></i>
							</span>
						</div>
					</form>
					<span ng-hide="changeActive">{{value.startTime}}</span>
				</td>
				
				<td>
					<form ng-show="changeActive">
						<div class="input-group input-append date form_datetime">
							<input type="text" class="form-control" readonly ng-model="newActivity.endTime">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-th"></i>
							</span>
						</div>
					</form>
					<span ng-hide="changeActive">{{value.endTime}}</span>
				</td>
				
				<td>
					<form role="form" ng-show="changeActive">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newActivity.discountDetail">
						</div>
					</form>
					<span ng-hide="changeActive">{{value.discountDetail}}</span>
				</td>
				
				<td>
					<button class=" btn btn-default btn-sm" ng-show="changeActive" data-toggle="modal" data-target="#activeDishes" >选择</button>
					<span style="display: inline-block;" ng-show="changeActive">{{newActivity.discountDishesValue}}</span>
					<span ng-hide="changeActive">{{value.discountDishesValue}}</span>
				</td>
				<!-- Modal -->

				<!-- Modal end -->
				<td>
					<form role="form" ng-show="changeActive">
						<div class="form-group">
							<input type="text" style="max-width: 50px;" class="form-control" ng-model="newActivity.discountValue">
						</div>
					</form>
					<span ng-hide="changeActive">{{value.discountValue}}</span>
				</td>
				<td>
					<span ng-hide="changeActive">
						<button class=" btn btn-default btn-xs" ng-click="activeDel(value.id)">删除</button>
						<button class=" btn btn-default btn-xs" ng-click="activityChange(value)">修改</button>
					</span>
					<span ng-show="changeActive">
						<button type="button" class="rightSave btn btn-default btn-xs" ng-click="activitySave(0, value.id)">保存</button>
						<button type="button" class="rightSave btn btn-default btn-xs" ng-click="activityCancel()">取消</button>
					</span>
				</td>
			
			</tr>
			<tr ng-show="addActive">
				<td>
					<span></span>
				</td>

				<td>
					<form role="form">
						<div class="form-group">
							<input type="text" style="max-width: 100px;" class="form-control" ng-model="newActivity.name">
						</div>
					</form>
				</td>
				
				<td>
					<div class="input-group input-append date form_datetime" >
						<input type="text" class="form-control" readonly ng-model="newActivity.startTime">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-th"></i>
						</span>
					</div>
				</td>
				
				<td>
					<div class="input-group input-append date form_datetime" >
						<input type="text" class="form-control" readonly ng-model="newActivity.endTime">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-th"></i>
						</span>
					</div>
				</td>
				
				<td>
					<form role="form" >
						<div class="form-group">
							<input type="text" class="form-control" ng-model="newActivity.discountDetail">
						</div>
					</form>
				</td>
				
				<td>
					<button class=" btn btn-default btn-sm"  data-toggle="modal" data-target="#activeDishes" >选择</button>
					<span style="display: inline-block;">{{newActivity.discountDishesValue}}</span>
				</td>
				<!-- Modal -->
				<!-- <div class="modal fade" id="activeDishes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-body">
				       			<form class="form">
				       				<div class="form-group" ng-repeat="class in dishesClass track by $index">
				       					<label>
				       						<input type="checkbox" name="dishesClass" ng-true-value="{{class.id}}" ng-model="newActivity.discountDishes[class.id]"> {{class.name}}
				       					</label>
				       				</div>
				       			</form>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dishesClassChange()">确认</button>
				            </div>
				        </div>
				    </div>
				</div> -->
				<!-- Modal end -->
				<td>
					<form role="form" >
						<div class="form-group">
							<input type="text" style="max-width: 50px;" class="form-control" ng-model="newActivity.discountValue">
						</div>
					</form>
				</td>
				<td>
					<button type="button" class="rightSave btn btn-default btn-sm" ng-click="activitySave(1)">保存</button>
				</td>
			
			</tr>
		</tbody>
	</table>

	<div class="pagination-container">
		<div class="pagination"></div>
	</div>

	<div class="modal fade" id="activeDishes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-body">
	       			<form class="form">
	       				<div class="form-group" ng-repeat="(key, value) in dishesClass track by key" id="h{{key}}">
	       					<label>
	       						<input type="checkbox" name="dishesClass" ng-true-value="{{value.id}}" ng-model="newActivity.discountDishes[value.id]"> {{value.name}}
	       					</label>
	       				</div>
	       			</form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dishesClassChange()">确认</button>
	            </div>
	        </div>
	    </div>
	</div>
	
</div>

