<div ng-controller="takeoffFlights as vm" >

    <div class="users-form">
        <!--<a class="btn btn-default setStore" ui-sref="addFlight">新建航班信息</a>-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>航班号</th>
                <th>日期</th>
                <th>起飞</th>
                <th>降落</th>
                <th>起飞时间</th>
                <th>降落时间</th>
                <th>航空公司</th>
                <th>飞机编号</th>
                <th>机型</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="flightItem in vm.data.flightList">

                <!--<td><a ui-sref="storeInfo({id:storeItem.id})">{{storeItem.name}}</a></td>-->
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.fltno}}</span>
                    <input class="form-control" type="text" value="{{flightItem.fltno}}" ng-model="flightItem.fltno" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.date}}</span>
                    <input class="form-control" type="text" value="{{flightItem.date}}" ng-model="flightItem.date" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.takeoff}}</span>
                    <input class="form-control" type="text" value="{{flightItem.takeoff}}" ng-model="flightItem.takeoff" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.landing}}</span>
                    <input class="form-control" type="text" value="{{flightItem.landing}}" ng-model="flightItem.landing" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.takeofftime}}</span>
                    <input class="form-control" type="text" value="{{flightItem.takeofftime}}" ng-model="flightItem.takeofftime" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.landingtime}}</span>
                    <input class="form-control" type="text" value="{{flightItem.landingtime}}" ng-model="flightItem.landingtime" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.airline}}</span>
                    <input class="form-control" type="text" value="{{flightItem.airline}}" ng-model="flightItem.airline" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.planeid}}</span>
                    <input class="form-control" type="text" value="{{flightItem.planeid}}" ng-model="flightItem.planeid" ng-show="flightItem.isSet"/>
                </td>
                <td style="max-width: 200px;">
                    <span ng-show="!flightItem.isSet">{{flightItem.type}}</span>
                    <input class="form-control" type="text" value="{{flightItem.type}}" ng-model="flightItem.type" ng-show="flightItem.isSet"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-container">
            <div class="pagination"></div>
        </div>
    </div>
</div>
